@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Tenor+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-family: "Tenor Sans", sans-serif;
}
